{% extends 'base/base.html' %}
{% block body %}
<div class="container text-center">
    <div class="row">
        <div class="well">
            <h2>{% trans %}Input Upload Form{% endtrans %}</h2>
            <form action="{{ upload_url }}" method="post" role="form" enctype="multipart/form-data">
                {{ csrf_input() }}
               <div class="form-group ">
                   <label for="upInput"
                       class="control-label">{% trans %}Choose a file{% endtrans %}</label>
                   <input id="upInput" type="file" name="files[]" multiple="multiple" class="form-control"/>
               </div>
               <button type="submit" class="btn btn-success">{% trans %}Upload{% endtrans %}</button>
           </form>
       </div>
   </div>
</div>
{% endblock %}
